@import url('https://fonts.googleapis.com/css?family=Questrial');
.event {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Questrial', sans-serif;
    position: relative;
    .event-heading-decoration {
        z-index: 2;
        background-image: url('../../images/common/event_border.png');
        background-repeat: no-repeat;
        background-size: contain;
        width: 50%;
        height: 20%;
        position: absolute;
        .heading {
            height: auto;
            background-color: rgba(79, 79, 79, 0.75);
            color: #fff;
            position: relative;
            top: 50%;
            left: 65%;
            transform: translate(-50%, -50%);
            width: max-content;
            padding: 0 10px;
            h2 {
                margin-bottom: 0;
                font-size: 3vw;
                &::first-letter {
                    text-transform: uppercase;
                }
                @media only screen and (max-width: 576px) {
                    font-size: 5vw;
                }
            }
        }
    }
}
