$weddingUrl: '../common/images/wedding/homepage_wedding.png';
$funeralUrl: '../common/images/funeral/homepage_funeral.png';
$conferenceUrl:'../common/images/conference/homepage_conference.png';
$birthdayUrl:'../common/images/birthday/homepage_birthday.jpg';
@mixin backgroundMixin($url) {
	background-image: url($url);
	background-repeat: no-repeat;
	background-size: cover;
}

.event-action-wrapper {
    /*Maybe need to remove width*/
    // width: 100%;
    height: auto;
    .category {
        height: auto; // padding: 0;
    }
}


.event-img {
    width:100%;
    height:100%;
    filter: grayscale(1);
     &:hover {
            filter: grayscale(0);
    }
}

/* .wedding {
    @include backgroundMixin($weddingUrl);
}

.funeral {
    @include backgroundMixin($funeralUrl);
}

.conference {
    @include backgroundMixin($conferenceUrl);
}

.birthday {
    @include backgroundMixin($birthdayUrl);
} */

