.event-action-wrapper {
    height: auto;
    .category {
        height: auto;
    }
}

.image-wrapper {
    width: 100%;
    height: 100%;
    .event-img {
        width: 100%;
        height: 100%;
        @media only screen and (min-width: 577px) {
            filter: grayscale(1);
            &:hover {
                filter: grayscale(0);
            }
        }
    }
}