$weddingUrl: '../common/images/wedding/homepage_wedding.png';
$funeralUrl: '../common/images/funeral/homepage_funeral.png';
$conferenceUrl:'../common/images/conference/homepage_conference.png';
$birthdayUrl:'../common/images/birthday/homepage_birthday.jpg';

@mixin backgroundMixin($url) {
	background-image: url($url);
	background-repeat: no-repeat;
	background-size:cover;
}

#main {
	/* // width :100%;
	// height:100%;
	// position:absolute; */
	padding:0;
}
.event-action-wrapper {
	width:100%;
	margin:0;
	height:100%;
}

.wedding {
	width:100%;
	height:100%;
	@include backgroundMixin($weddingUrl);
}

.funeral {
		width:100%;
	height:100%;
	@include backgroundMixin($funeralUrl);
}

.conference {
		width:100%;
	height:100%;
	@include backgroundMixin($conferenceUrl);
}

.birthday {
		width:100%;
	height:100%;
	@include backgroundMixin($birthdayUrl);
}