section{
  width: 100%;
  margin: 0;
  padding: 20px 0;
  font-family: 'Dancing Script','Bad Script', cursive;
  height: 200vh;

  .form-invitation{
    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box;
    margin: 0;

    .description{

      label{
        width: 35%;
        font-size: 16px;
      }

      .input-name{
        width: 62%;
        font-size: 18px;
        border-radius: 3px;
        border: 1px solid #acacac;
        outline: none;

        &:focus{
          box-shadow: 0 0 15px rgba(0,0,0,0.5);
        }
      }
    }
    button{
      width: 200px;
      margin: 15px 0;
      background: #acacac;
      color: #ffffff;
      border: none;
      font-size: 20px;
      font-family: 'Dancing Script', cursive;
      border-radius: 3px;
      box-shadow: 0 0 5px rgba(0,0,0,0.5);
      outline: none;


      &:hover{
        box-shadow: 0 0 15px rgba(0,0,0,0.5);
        width: 205px;
        text-shadow: 1px 1px 2px black, 0 0 5px rgba(0,0,0,0.5);
      }

      &:active{
        width: 208px;
        transform: translate(1px,1px);
      }
    }
  }

  .list{
    box-sizing: border-box;
    padding: 10px 0;
    position: relative;
    display: flex;
    flex-direction: column;

    ul{
      list-style: decimal;
      font-size: 18px;
    }
    .list-item{
      display: flex;
      list-style: none;
      li{
        width: 30%;

        .removePerson{
          width: 22px;
          height: 22px;
          background: #acacac;
          color: #ffffff;
          border: none;
          font-size: 15px;
          font-family: "Times New Roman";
          border-radius: 3px;
          box-shadow: 0 0 5px rgba(0,0,0,0.5);
          outline: none;


          &:hover{
            box-shadow: 0 0 15px rgba(0,0,0,0.5);
            width: 24px;
            height: 24px;
            text-shadow: 1px 1px 2px black, 0 0 5px rgba(0,0,0,0.5);
          }

          &:active{
            width: 24px;
            transform: translate(1px,1px);
          }
        }
      }
    }
  }

  .template-invitation{
    width: 100%;
    margin: 20px;
    font-size: 20px;

    .text-input{
        vertical-align: top;
    }
    input,textarea{
      border-radius: 3px;
      border: 1px solid #acacac;
      outline: none;

      &:focus{
        box-shadow: 0 0 15px rgba(0,0,0,0.5);
      }
    }

    .btn-set-date{
      width: 200px;
      margin: 15px 0;
      background: #acacac;
      color: #ffffff;
      border: none;
      font-size: 20px;
      font-family: 'Dancing Script', cursive;
      border-radius: 3px;
      box-shadow: 0 0 5px rgba(0,0,0,0.5);
      outline: none;


      &:hover{
        box-shadow: 0 0 15px rgba(0,0,0,0.5);
        width: 205px;
        text-shadow: 1px 1px 2px black, 0 0 5px rgba(0,0,0,0.5);
      }

      &:active{
        width: 208px;
        transform: translate(1px,1px);
      }
    }

    .temlate{
      position: relative;
      width: 100%;
      height: 400px;

      img{
        width: 100%;
        position: absolute;
        z-index: -1;
      }

      .invitation-name{
        position: absolute;
        width: 100%;
        text-align: center;
        top: 8vw;
        right: 0;
        font-size: 3vw;
      }

      .invitation-text{
        position: absolute;
        top: 14vw;
        right: 10%;
        width: 80%;
        text-align: center;
        font-size: 2.2vw;
      }

      .event-time{
        position: absolute;
        top: 30vw;
        right: 5vw;
        font-size: 1.7vw;
      }
    }
  }
}