<section>
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-6">
            <h2 class="invite-title">Invite guests</h2>
            <form class="form-invitation"name="formName"  novalidate>
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 description">
                    <label for="name">First Name:</label>
                    <input class="input-name" id="name" type="text" ng-model="name" required />
                </div>
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 description">
                    <label for="lastname">Last Name:</label>
                    <input class="input-name" id="lastname" type="text" ng-model="lastName" required />
                </div>
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 description">
                    <label for="email">E-mail:</label>
                    <input class="input-name" id="email" type="email" ng-model="email" ng-pattern="pattern_email"  required />
                </div>
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 description">
                    <label for="phone">Phone number:</label>
                    <input class="input-name" id="phone" type="tel" ng-model="phone" ng-pattern="pattern_phone" required />
                </div>
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-6 description">
                    <button class="add-btn" ng-click="addPerson()">Add Person to list</button>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 description">
                    <p class="input-date"> Date: <input type="datetime-local" ng-model="dateTimeEvent"></p>
                    <button class="btn-set-date" ng-click="date = getDate(dateTimeEvent)">Set date to the template</button>
                    <p class="text-input">Invitation text: </p><textarea froala="froalaOptions" ng-model="iputText" ></textarea>
                </div>
            </form>

        </div>
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-5">
            <div class="template-invitation">
                <h3 class="template-title">Invitation template:</h3>
                <div class="template-version">
                    <img src="{{backgroundTemplate}}" alt="">
                    <p class="invitation-name">{{personList[0].lastName}}  {{personList[0].name}} </p>
                    <p class="invitation-text">{{iputText}}</p>
                    <p class="event-time" ng-if="flag">{{date.day}}. {{date.month}}. {{date.year}}, at {{date.hour}}:{{date.minutes}} o`clock!</p>
                </div>
            </div>
            <div>
                <button class="btn-add-shop-card" ng-click="">Add to shopping cart</button>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12 col-sm-6 col-md-6 list">
            <h2 class="invite-title">Guest list:</h2>
            <ul class="person-item">
                <li ng-repeat="person in personList">
                    <ul class="list-item">
                        <li>{{person.name}}</li>
                        <li>{{person.lastName}}</li>
                        <li hidden>{{person.phone}}</li>
                        <li hidden>{{person.email}}</li>
                        <li class="remove-person" > <button class="removePerson" ng-click="removePerson(person.count)">x</button></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</section>