section{
  width: 100%;
  margin: 0;
  box-sizing: border-box;
  min-height:calc(100vh - 92px);

  .invite-title{

    @media (max-width: 1000px) {
      font-size: 50px;
    }
    @media (max-width: 600px) {
      font-size: 40px;
    }
  }
  .template-title{
    margin-bottom: 20px;

    @media (max-width: 600px) {
      font-size: 20px;
    }
   
  }

  .form-invitation{
    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box;
    margin: 0;

    .description{
      margin: 10px;

      label{
        width: 38%;
        font-size: 18px;
        @media (max-width: 600px) {
          font-size: 16px;
        }
        @media (max-width: 375px) {
          font-size: 14px;
        }
      }

      .input-name{
        width: 58%;
        font-size: 18px;
        outline: none;
        box-shadow: 6px 6px 25px 1px rgba(44, 74, 57, 1);
        
        @media (max-width: 600px) {
          font-size: 14px;
        }
        

        &:focus{
          box-shadow: 6px 6px 25px 1px rgba(44, 74, 57, 1);
        }
      }
      .input-date{
        margin: 15px 0;
        font-size: 18px;
        
        @media (max-width: 600px) {
          font-size: 16px;
        }
      }

      .text-input {
        vertical-align: top;
        font-size: 18px;
        
        @media (max-width: 600px) {
          font-size: 16px;
        }
      }
      textarea{
        width: 100%;
        height: 100px;
      }
      input, textarea {
        border-radius: 5px;
        border: 1px solid #acacac;
        // box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);   
      // box-shadow: 6px 6px 25px 1px rgba(44, 74, 57, 1);
             
        outline: none;

        &:focus {
          // box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
          box-shadow: 6px 6px 25px 1px rgba(44, 74, 57, 1);          
        }
      }
      .ng-invalid{
        border: 1px solid #ff0000;
        box-shadow: 0 0 15px rgba(255,0,0,0.5);

        &:focus{
          box-shadow: 0 0 15px rgba(255,0,0,0.5);
        }
      }
      .ng-pristine{
        border: 1px solid #acacac;
        // box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
        box-shadow: 6px 6px 25px 1px rgba(44, 74, 57, 1);
        
      }
    }

  }
  .template-invitation {
    width: 95%;
    margin: 20px;
    font-size: 20px;

    .template-version {
      position: relative;
      width: 100%;
      height: 400px;
      font-family: 'Dancing Script', cursive;
      
      @media (max-width: 991px){
        height: 55vw;
      }

      @media (max-width: 375px){
        height: 60vw;
      }

      img {
        width: 90%;
        position: absolute;
        z-index: -1;
        
        @media (max-width: 991px){
          top: 0;
          left: 0;
          width: 70%;
      }

        @media (max-width: 414px){
            top: 0;
            left: 0;
            width: 90%;
        }
      }

      .invitation-name {
        position: absolute;
        width: 80%;
        text-align: center;
        top: 4.5vw;
        left: 1.5vw;
        font-size: 1.9vw;

        @media (max-width: 991px){
          width: 70%;
          top: 6vw;
          left: 0;
          font-size: 3.6vw;
        }

        @media (max-width: 414px){
          top: 15vw;
          left: 3vw;
          font-size: 3.6vw;
        }
      }

      .invitation-text {
        position: absolute;
        top: 9vw;
        left: 6vw;
        width: 55%;
        max-height: 10vw;
        overflow: hidden;
        line-height: 1.3;
        text-align: center;
        font-size: 1.6vw;
        
        @media (max-width: 991px){
          width: 45%;
          line-height: 1.5;
          top: 14vw;
          left: 10vw;
          font-size: 2.5vw;
          max-height: 18vw;
        }


        @media (max-width: 414px){
          top: 23vw;
          left: 14vw;
          font-size: 2.6vw;
        }

      }

      .event-time {
        position: absolute;
        top: 20.5vw;
        left: 15vw;
        font-size: 1.2vw;

        @media (max-width: 991px){
          top: 40vw;
          left: 25vw;
          font-size: 2.6vw;
        }

        @media (max-width: 414px){
          top: 50vw;
          left: 35vw;
          font-size: 2.6vw;
        }
      }

    }
  }
    .list {
      box-sizing: border-box;
      padding: 10px 0;
      position: relative;
      display: flex;
      flex-direction: column;

      .person-item{
        height: 180px;
        overflow: auto;
      }
      ul {
        list-style: decimal;
        font-size: 18px;
      }
      .list-item {
        display: flex;
        list-style: none;
        padding-left: 10px;

        li {
          width: 40%;

          .removePerson {
            width: 22px;
            height: 22px;
            background: #acacac;
            color: #ffffff;
            border: none;
            font-size: 15px;
            font-family: "Times New Roman";
            border-radius: 3px;
            box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
            outline: none;

            &:hover {
              box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
              width: 24px;
              height: 24px;
              text-shadow: 1px 1px 2px black, 0 0 5px rgba(0, 0, 0, 0.5);
            }

            &:active {
              width: 24px;
              transform: translate(1px, 1px);
            }
          }
        }
       .remove-person{
          width: 15%;        
          // display: flex;
          // justify-content: flex-end;
        }
      }
    }
    .add-btn,.btn-set-date,.btn-add-shop-card{
      width: 200px;
      margin: 15px 0;
      line-height: 2;
      box-shadow: 6px 6px 25px 1px rgba(44, 74, 57, 1);
      background: #343a40;
      color: #ffffff;
      border: none;
      font-size: 16px;
      border-radius: 3px;
      outline: none;

      &:hover{
        box-shadow: 5px 5px 28px 0px rgba(44, 74, 57,  0.9);
        // opacity: 0.9;
        text-shadow: 2px 2px #000;
        color: #2ef080;
        transform: translate(1px,1px);
        outline: none;
        border: none;
        
      }

      &:active{
        transform: translate(2px,2px);
        outline: none;
        border: none;
      }
    }
}