<div class="main-shop-card">
    <hr>
    <h3>Event: <span>{{order[0].eventName}}</span></h3>
    <hr>
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-8">
            <div class="shop-card col-12" >
                <div class="service">
                    <p class="description set-border-right"><span>Description</span></p>
                    <p class="image set-border-right"><span>Image</span></p>
                    <p class="quantity set-border-right"><span>Quantity</span></p>
                    <p class="price set-border-right"><span>Price</span></p>
                    <p class="total set-border-right"><span>Total</span></p>
                    <p class="delete set-border-right"><span>delete</span></p>
                </div>
                <div  ng-repeat="service in order[0].services">
                    <h4>{{service.name}}</h4>
                    <div class="service set-border-top-bottom" ng-repeat="item in service.items">
                        <p class="description" ng-model="item.Name">{{item.Name}}</p>
                        <p class="image"><img src={{item.imgUrl}} alt="photo"></p>
                        <!-- <p class="quantity">
                            <input  ng-change = "totalAmount()" ng-model="item.quantity" type="number" id="quantity" value={{item.quantity}} min="1" max={{item.amount}}>
                        </p> -->
                        <p class="quantity">
                            <input  value="1"  type="number" id="quantity" min="1" max="3">
                        </p>
                        <p class="price">{{item.cost}}</p>
                        <!-- <p class="total">{{item.quantity*item.cost}} $</p> -->
                        <p class="total">- </p>
                        <p class="delete"> <button class="btn-remove" id={{item.id}} ng-click="handle(service.name, item.id)" >x</button></p>
                    </div>
                </div>
                <div class="guest-invitation" ng-if="order[0].invitationGuest.exist">
                    <h4>Invite guests: </h4>
                   <div class="guest-invitation-info">
                       <p class="description">People</p>
                       <p class="image"> - </p>
                       <!-- <p class="quantity">{{order.invitationGuest.quantityGuest}} </p> -->
                       <p class="quantity">-</p>
                       <p class="price"> - </p>
                       <!-- <p class="total">{{guestCoast}} $</p> -->
                       <p class="total">-</p>
                       <p class="delete"> <button class="btn-remove" ng-click="handle()" >x</button>
                   </div>
                </div>
                <div class="rent-hall" ng-if="!!order[0].hall">
                    <h4>Rent hall: </h4>
                    <div class="rent-hall-info">
                        <p class="description">Hall-name</p>
                        <p class="image"> - </p>
                        <p class="quantity">-</p>
                        <p class="price"> - </p>
                        <p class="total">-$</p>
                        <p class="delete"> <button class="btn-remove" ng-click="handle()" >x</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-4">
            <div class="total-info">
                <h4>Total amount: {{totalAll}}$ </h4>
               <div class="confirm-btn-wrapper">
                   <button class="btn-create-order" ng-click="createOrderList()">Create order</button>
               </div>
                <div ng-if="createOrder">
                    <h3>Your order:</h3>
                    <table>
                        <thead>
                            <tr>
                                <th>Description</th>
                                <th>Quantity</th>
                                <th>Price</th>
                                <th>Total</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-if="order.invitationGuest.exist">
                                <td >Invite  guests</td>
                                <td>{{order.invitationGuest.quantityGuest}}</td>
                                <td>{{guestCoast}}</td>
                                <td>{{guestCoast}}</td>
                            </tr>
                            <tr ng-repeat="serviceItem in createOrderList()">
                                <td >{{serviceItem.Name}}</td>
                                <td>{{serviceItem.quantity}}</td>
                                <td>{{serviceItem.cost}}</td>
                                <td>{{serviceItem.cost * serviceItem.quantity}}</td>
                            </tr>
                        </tbody>
                        <tfoot>
                            <tr>
                                <td colspan="3">Total</td>
                                <td>{{sum+guestCoast}}</td>
                            </tr>
                        </tfoot>
                    </table>
                    <div class="confirm-order">
                        <button class="btn-confirm-order">Confirm</button>
                    </div>
                </div>

            </div>
            <div>

            </div>
        </div>
    </div>
</div>