<div class="shopCard">
    <h1>Shoping Card</h1>
    <h3>Event:{{order.eventName}}</h3>
    <h4>Guests</h4>
    <ul>
        <!--<li ng-repeat="person in persons">-->
        <!--{{person}}-->
        <li>
            Persons
        </li>
    </ul>
    <p>Total: </p>
    <!--<p>Total: {{person.length}}</p>-->
    <hr>
    <h4>Rent a car</h4>
    <ul>
        <!--<li ng-repeat="car in cars">-->
        <!--{{car}} Price: {{car.price}}-->
        <li>
            cars
        </li>
        <p>Total: </p>
    </ul>
    <hr>
    <h4>Rent a hall</h4>
    <ul>
        <!--<li ng-repeat="hall in halls">-->
        <!--{{hall}} Price: {{hall.price}}-->
        <li>
            hall
        </li>
        <p>Total: </p>
    </ul>
    <hr>
</div>