section{
  h2{
    font-family: 'Dancing Script', cursive;
    font-size: 60px;
    margin: 15px 15px;
  }

  .main-pratners{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    //margin: 15px 0;


    .partners{
      height: 520px;
      width: 90%;
      position: relative;
      margin: 15px auto;

        .partner-img{
          position: absolute;
          height: 100%;
          z-index: 1;


          a:hover{
            filter: grayscale(1);
          }

          img{
            width: 300px;
            height: 510px;
            border-radius: 5px;
            box-shadow: 0 0 15px rgba(0,0,0,0.7);
          }
        }

      .partner-name{
        position: absolute;
        bottom: 15%;
        right: 5%;
        font-family: 'Dancing Script', cursive;
        font-size: 50px;
        font-weight: 700;
        z-index: 1;
      }

        .promo{
          width: 200px;
          height: 40px;
          position: absolute;
          bottom: 5%;
          left: 35%;
          background: #acacac;
          color: #ffffff;
          font-family: 'Dancing Script', cursive;
          font-size: 25px;
          text-align: center;
          border-radius: 3px;
          cursor: pointer;
          z-index: 1;

          &:hover{
            box-shadow: 0 0 15px rgba(0,0,0,0.5);
            width: 205px;
            text-shadow: 1px 1px 2px black, 0 0 5px rgba(0,0,0,0.5);
          }

          span{
            color: #ff0000;
          }

      }
    }
  }
}
