<section>
    <div class="row">
        <h2>Our Partners:</h2>
        <div class="main-pratners">
            <div class="col-sm-6 col-xs-12 col-lg-4 col-xl-3" ng-repeat="partner in partners">
                <div   class="partners" >
                    <div class="partner-img">
                        <a href="{{partner.url}}"><img src="{{partner.imgUrl}}" alt=""></a>
                    </div>
                    <div class="partner-name">{{partner.name}}</div>
                    <div class="promo" ng-click = getDiscount(partner.promo)>get a discount <span> {{partner.promo}}%</span></div>
                </div>
            </div>
        </div>
    </div>
</section>
