.item-img {
    width: 100%;
    height: auto;
    /*  &:hover {
            filter:blur(10px); */
}

button.btn.btn-dark.add-btn {
    font-size: 1.25vw;
    position: absolute;
    z-index: 1;
    top: 6%;
    left: 8%;
    &:hover {
        box-shadow: 5px 5px 28px 0px rgba(44, 74, 57, 1);
        opacity: 0.9;
        text-shadow: 2px 2px #000;
        color: #2ef080;
    }
}





@media only screen and (max-width:576px) {
	button.btn.btn-dark.add-btn {
	font-size:3vw ;
}
}