<div class='item-block item {{$ctrl.data.description.name}}'>
    <img class='item-img' ng-src='{{$ctrl.imageUrl}}' alt='{{$ctrl.data.description.name}}'>
    <table class="table description">
        <tr class="my" ng-repeat='(key, item) in $ctrl.data.description'>
            <th class="my" scope='col'>{{key}}</th>
            <td class="my">{{item}}</td>
        </tr>
    </table>
    <button type="button" class="btn btn-dark add-btn" ng-if="showAddButton" ng-click='$ctrl.addToCart($ctrl.data, $ctrl.name, $ctrl.owner)'>Add to shopping cart</button>
</div>