.item-img {
    width: 50%;
    height: auto;
    /*  &:hover {
            filter:blur(10px); */
}
.table{
    width: 50%;
    font-size: 15px;
    padding: 0;
    margin: 0;
}


.item-block{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 5px;
    padding: 5px 5px 20px 5px;
    border: 1px solid black;
    border-radius: 10px;
    box-shadow: 6px 6px 25px 1px rgba(44, 74, 57, 1);
}

button.btn.btn-dark.add-btn {
    align-self: flex-end;
    font-size: 1.3vw;
    position: absolute;
    top: 80%;
    left: 60%;
    z-index: 1;
    &:hover {
        box-shadow: 5px 5px 28px 0px rgba(44, 74, 57, 1);
        opacity: 0.9;
        text-shadow: 2px 2px #000;
        color: #2ef080;
    }
}

@media only screen and (max-width:576px) {
    button.btn.btn-dark.add-btn {
        font-size: 3vw;
    }
}