.item-block {
    display: flex;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 2%;
    flex-wrap: nowrap;
    align-items: center;
    border: 1px solid rgba(0, 0, 0, 0.35);
    border-radius: 10px;
    box-shadow: 6px 6px 25px 1px rgba(44, 74, 57, 1);
}

.item-img {
    width: 40%;
    height: auto;
    border: 1px solid rgba(0, 0, 0, 0.3);
    align-self: center;
    border-radius: 10px;
    &:hover {
        filter: grayscale(1);
    }
}

.table.description {
    width: 60%;
}
// .my{
//     width: 70%;
// }
.table {
    margin: 0 2%;
    font-size: 1.2vw;
    border-bottom: 1px solid #dee2e6;
    line-height: 2vw;
    white-space: nowrap;
}

th.my.ng-binding{
    width: 30%;
    padding-left: 3%;
}

td.my.ng-binding{
    padding: 1% 0;
    text-align: center;
}
.my.ng-binding{
    padding: 1% 0;
}

button.btn.btn-dark.add-btn {
    margin-right: 8%;
    padding: 2%;
    align-self: flex-end;
    font-size: 1.3vw;
    z-index: 1;
    box-shadow: none;
    &:hover {
        box-shadow: 5px 5px 28px 0px rgba(44, 74, 57, 1);
        opacity: 0.9;
        text-shadow: 2px 2px #000;
        color: #2ef080;
    }
    &:active{
        transform: translate(2px,2px);
      }
}

@media only screen and (max-width:576px) {
    .item-img {
        width: 50%;
        height: auto;
    }
    .table.description{
        padding: 0;
        margin-bottom: 0;
        font-size: 2vw;
        line-height: 2.5vw;
    }
    .my.ng-binding{
        padding: 2%;
    }
    button.btn.btn-dark.add-btn {
        margin-right: 11%;
        padding: 2%;
        font-size: 2vw;
    }
}