<header class="header">
    <nav class="navbar navbar-expand-sm navbar-dark">
        <a class="navbar-brand" ui-sref="home">
            <div class="logo"> <span>E</span><span>M</span></div>
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample09" aria-controls="navbarsExample09" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarsExample09">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active hover">
                    <a class="nav-link hover" ng-click="clickToOpenLoginForm()" ng-if="!isLoggedUser()">Sign in</a>
                </li>
                <li class="nav-item active hover">
                    <a class="nav-link hover" ng-click="clickToOpenRegistrationForm()" ng-if="!isLoggedUser()">Sign up</a>
                </li>
                    <span class="navbar-text logout" ng-click="logOutFunc()" ng-if="isLoggedUser()">Log out</span>
                 <li class="nav-item right-align-dropdown" ng-if="isLoggedUser()">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Choose event
                    </a>
                    <div class="dropdown-menu black"  ng-click="selectEvent($event)" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" data-id="wedding" href="#">Wedding</a>
                    <a class="dropdown-item" data-id="funeral" href="#">Funeral</a>
                    <a class="dropdown-item" data-id="birthday" href="#">Birthday</a>
                    <a class="dropdown-item" data-id="conference" href="#">Conference</a>
                    </div>
                </li>     
            </ul>         
        </div>
        <div  class="center-align-event">
                <span ng-if="showSelectedEvent() && isLoggedUser()">Event: {{selectedEvent}}</span>
            </div>
        <div class="right-align-shop" ng-if="isLoggedUser()">
                <a class="hover" ui-sref='shopCard'><i class="material-icons">shopping_cart</i></a>
        </div>
        <!-- <div class="right-align-email" ng-if="isLoggedUser()">
                <span>Email: {{userEmail}}</span>
        </div>     -->
        <div class="right-align-email" ng-if="isLoggedUser()">
                <p class="" ng-if="isUser">Email: <span> {{userEmail}}</span></p>
        </div>
    </nav>
</header>