@import url('https://fonts.googleapis.com/css?family=Lobster');
.header .navbar {
  background: #000000;
  padding: 3px 10px;
}

/*MODAL STYLE*/
.ngdialog {
  &.ngdialog-theme-default {
    &.modal-view {
      .ngdialog-content {
        background-color: #595959;
        margin: -115px auto;
        color: #fff;
        border: 1px solid #2ef080;
        @media only screen and (max-width: 768px) {
          width:50%;
        }
        @media only screen and (max-width:576px) {
          width: 75%;
        }
        .form-group {
          .form-text{
            color: #2ef080!important;
          }
        }
      }
      .ngdialog-overlay {
        background: rgba(0, 0, 0, .75);
      }
    }
  }
}


.right-align-shop{
  position: absolute;
  right: 8vw;
  width: 150px;
  padding: 10px 0;
  
  top: 0;

  a{
    color: #2ef080;

    &:hover{
      color: rgba(255, 255, 255, 0.5);
      text-decoration: none;
    }
  }

  @media (min-width: 1451px){
    right: 2vw;
  }

  @media (max-width: 1450px){
    right: 2.5vw;
  }
  @media (max-width: 1350px){
    right: 4vw;
  }
  @media (max-width: 1200px){
    right: 3vw;
  }
  @media (max-width: 768px){
    right: 3vw;
  }
  @media (max-width: 576px){
    right: 15vw;
  }
}

.right-align-dropdown{
  position: absolute;
  right: 20vw;

  @media (min-width: 1581px){
    right: 12vw;
  }
  @media (max-width: 1580px){
    right: 15vw;
  }
  @media (max-width: 1450px){
    right: 15vw;
  }
  @media (max-width: 1350px){
    right: 17vw;
  }
  @media (max-width: 1200px){
    right: 18vw;
  }
  @media (max-width: 1000px){
    right: 22vw;
  }
  @media (max-width: 768px){
    right: 25vw;
  }
  @media (max-width: 705px){
    right: 30vw;
  }
  
  @media (max-width: 576px){
    position: relative;
    right: 0;
  }
}

.right-align-email{
  position: absolute;
  font-size: 16px;
  line-height: 1.5;
  color: #ffffff;
  right: 0;
  width: 130px;
  top: 0; 
  padding: 10px 0;

  @media (max-width: 576px){
    right: 10vw;
    font-size: 14px;
  }
}
/* FORM BUTTON STYLE*/

button.btn.btn-dark.login-btn {
  position: static;
  font-size: initial;
}

.logo {
  width: 30px;
  height: 30px;
  border: 2px solid #ffffff;
  margin: 0;
  box-sizing: border-box;
  position: relative;
  span {
    font-size: 14px;
    font-family: 'Lobster', cursive;
    position: absolute;
    &:first-child {
      top: -2px;
      left: 5px;
    }
    &:last-child {
      bottom: 0px;
      right: 3px;
    }
  }
}

.navbar-nav li.nav-item a.hover:hover {
  color: #474747;
}

div.dropdown-menu.black {
  background-color: #000000;
  a {
    color: #ffffff;
    &:hover {
      background-color: #000000;
      color: #474747;
    }
  }
}

@media (min-width: 576px) {
  .lg-hide {
    display: none;
  }
}