$weddingBannerUrl: '../../../common/images/wedding/wedding-banner.jpg';
$funeralBannerUrl: '../../../common/images/funeral/grayscale.png';
$conferenceBannerUrl:'../../../common/images/conference/banner.png';
$birthdayBannerUrl:'../../../common/images/birthday/birth_banner.png';
@mixin bannerBackgroundMixin($url) {
    background-image: url($url);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%;
}

.banner {
    height: 100%;
    @media only screen and (min-width: 577px) {
        height: calc(100vh - 92px);
    }
    .grid-container {
        display: grid;
        height: 95%;
        grid-gap: 10px;
        margin: 10px auto;
        max-width: 75%;
        @media only screen and(max-width: 768px) {
            max-height: 80%;
            margin: auto;
            max-width: 100%;
        }
    }
    &-wedding {
        @include bannerBackgroundMixin($weddingBannerUrl);
        background-position: 50% 0%;
    }
    &-funeral {
        @include bannerBackgroundMixin($funeralBannerUrl);
    }
    &-conference {
        @include bannerBackgroundMixin($conferenceBannerUrl);
    }
    &-birthday {
        @include bannerBackgroundMixin($birthdayBannerUrl);
    }
}

.dimensions {
    width: 100%;
    height: 100%;
    .event {
        @media only screen and (min-width: 769px) {
            .event-img {
                opacity: 0.4;
            }
            &:hover {
                .event-img {
                    opacity: 1;
                }
            }
        }
        border: 2px solid #fff;
        .event-heading-decoration {
            background-image: none;
            border: 3px solid #2EF080;
            width: max-content;
            height: auto;
            padding: 10px;
            .heading {
                top: 0;
                left: 0;
                transform: none;
                h2 {
                    font-size: 1.75vw;
                    @media only screen and (max-width: 576px) {
                        font-size: 5vw;
                    }
                }
            }
        }
    }
}


.wedding .service-6 {
    grid-template-areas: "a b b" "a c d " "e f d ";
    grid-template-rows: 35% 30% 35%;
    .wedding-suits {
        grid-area: a;
    }
    .repast-hall {
        grid-area: b;
    }
    .car-hire {
        grid-area: c;
    }
    .wedding-dresses {
        grid-area: d;
    }
    .unique-organization {
        grid-area: f;
    }
    .guest-invitation {
        grid-area: e;
    }

    @media only screen and (min-width:769px) and (max-width:1024px) {
        max-width: 80%;
        grid-template-columns: 30% 40% 30%;
    }


    //     .wedding-suits {
    //         height: 470px;
    //     }
    //     .repast-hall {
    //          height: 250px;
    //     }
    //     .car-hire {
    //         height: 210px;
    //     }
    //     .wedding-dresses {
    //         height: 470px;
    //     }
    //     .unique-organization {
    //          height: 250px;
    //     }
    //     .guest-invitation {
    //         height: 250px;
    //     }
    // }
}

.birthday .service-6 {
    grid-template-areas: "a a b" "c d b " "e f f ";
    grid-template-rows: 30% 35% 35%;
    .car-rent {
        grid-area: a;
    }
    .design {
        grid-area: b;
    }
    .animators {
        grid-area: c;
    }
    .invite {
        grid-area: d;
    }
    .food-courts {
        grid-area: e;
    }
    .places {
        grid-area: f;
    }

    @media only screen and (min-width:769px) and (max-width:1024px) {
        max-width: 80%;
    }

    /*    .animators {
            height: 210px;
        }
        .places {
             height: 250px;
        }
        .car-rent {
            height: 230px;
        }
        .invite {
            height: 210px;
        }
        .food-courts {
             height: 250px;
        }
        .design {
            height: 450px;
        }
    */
}

.funeral .service-5 {
    grid-template-areas: "a a b" "c d b " "c e e ";
    grid-template-rows: 35% 30% 35%;
    .car-rent {
        grid-area: a;
    }
    .repast-hall {
        grid-area: b;
    }
    .invite {
        grid-area: c;
    }
    .memorial-hall {
        grid-area: d;
    }
    .funeral-merchandise {
        grid-area: e;
    }

    @media only screen and (min-width:769px) and (max-width:1024px) {
        max-width: 80%;
        grid-template-columns: 30% 40% 30%;
    }
    //    .car-rent {
    //     height: 250px;
    // }
    // .repast-hall {
    //      height: 490px;
    // }
    // .invite {
    //     height: 490px;
    // }
    // .memorial-hall {
    //     height: 220px;
    // }
    // .funeral-merchandise {
    //     height: 250px;
    // }

}

.conference .service-4 {
    grid-template-areas: "a a b" "c d b";
    grid-template-rows: 45% 55%;
    .car-rent {
        grid-area: a;
    }
    .hall {
        grid-area: b;
    }
    .invite {
        grid-area: c;
    }
    .food-courts {
        grid-area: d;
    }

    /*
       .car-rent {
           height: 250px;
       }
       .hall {
            height: 470px;
       }
       .food-courts {
           height: 210px;
       }
       .invite {
           height: 210px;
       }
   } */

    @media only screen and (min-width:1025px) {
        max-width: 65%;

    }

    @media only screen and (min-width:769px) and (max-width:1024px) {
        max-width: 75%;
        .event-img {
            opacity: 0.5;
        }
    }
}

@media only screen and (max-width: 576px) {
    .banner {
        display: none;
        .event {
            border: none;
        }
        .grid-container {
            width: 100%;
            margin: 0;
            padding: 0;
            display: grid;
            grid-gap: 0;
        }
    }

    .wedding .service-6,
    .birthday .service-6 {
        grid-template-areas: "a" "b" "c" "d" "e" "f";
        grid-template-rows: 16% 16% 16% 16% 18% 18%;
    }
    .funeral .service-5 {
        grid-template-areas: "a" "b" "c" "d" "e";
        grid-template-rows: 20% 20% 20% 20%;
    }
    .conference .service-4 {
        grid-template-areas: "a" "b" "c" "d";
        grid-template-rows: 25% 25% 25% 25%;
    }
}